<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="crear-clientes"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Crear Clientes</span>
  </a>
  <a routerLink="consultar-clientes"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Consultar Clientes</span>
  </a>
  <a routerLink="componente-apoyo"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Apoyo</span>
  </a>
  <a routerLink="crear-facturas"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Crear Facturas</span>
  </a>
  <a routerLink="consultar-facturas"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Consultar Facturas</span>
  </a>

</header>
