<h2>{{header}}</h2>
<!-- <p>{{ nombre | uppercase }}</p>
<p>{{ apellidos | uppercase }}</p>
<p>{{ tipoIdentificacion | uppercase }}</p> -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="wrapper">
   
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombres</label>
            <input id="nombre" class="form-control" type="text" placeholder="Nombres"  [(ngModel)]="cliente.clienteNombre" 
                name="nombre" />
        </div>     
    </div>
    <div class="form-group col-md-6"> 
        <input value="guardar" type="button" (click)="guardar()">
    </div>
</div>
