<h2>{{header}}</h2>
<!-- <p>{{ nombre | uppercase }}</p>
<p>{{ apellidos | uppercase }}</p>
<p>{{ tipoIdentificacion | uppercase }}</p> -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="wrapper">

    

    <table border="1">
    <tr>
      <td *ngFor="let columna of columnas"><strong>{{columna|lowercase}}</strong></td>
    </tr>

    <tr *ngFor="let factura of listaFacturas">
      <td>{{factura.precioUnitario}} </td>
      <td>{{factura.plato.platoNombre}} </td>
      <td>{{factura.bebida.bebidaNombre}}</td>
      <td>{{factura.factura.facturaId}} </td>
      <td>{{factura.factura.iva}} </td>
      <td>{{factura.factura.total}} </td>
      <td>{{factura.factura.cliente.clienteNombre}}</td>
      <td><input type="button" value="editar"><input type="button" value="borrar">
 </td>
    </tr>
    </table>
</div>