
<h2>{{ header }}</h2>
<!-- <p>{{ nombre | uppercase }}</p>
<p>{{ apellidos | uppercase }}</p>
<p>{{ tipoIdentificacion | uppercase }}</p> -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<div class="wrapper">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="detalleId">Id Factura</label>
            <input id="detalleId" class="form-control" type="number" placeholder="id Factura"  [(ngModel)]="facturaDetalle.detalleId"  
               name="detalleId" />
        </div>

        <div class="form-group col-md-6">
            <label for="precioUnitario">Precio Unitario</label>
            <input id="precioUnitario" class="form-control" type="text" placeholder="Precio Unitario"  [(ngModel)]="facturaDetalle.precioUnitario" 
               name="precioUnitario" />
        </div>

        <div class="form-group col-md-6">
            <label for="plato">Plato</label>
            <br>
            <select class="form-control"  name="plato"
                ng-init="options[1].value"  [(ngModel)]="facturaDetalle.plato" >
                <option value="1">plato1</option>
                <option value="2">plato2</option>
                <option value="3">plato3</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="bebida">Bebida</label>
            <br>
            <select class="form-control"  name="bebida"
                ng-init="options[1].value" [(ngModel)]="facturaDetalle.bebida" >
                <option value="1">Bebida1</option>
                <option value="2">Bebida2</option>
                <option value="3">Bebida3</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="factura">Factura</label>
            <br>
            <select class="form-control"  name="factura"
                ng-init="options[1].value" [(ngModel)]="facturaDetalle.factura"  >
                <option value="1">factura1</option>
                <option value="2">factura2</option>
                <option value="3">factura3</option>
            </select>
        </div>
        <div class="form-group col-md-6"> 
            <input value="guardar" type="button" (click)="guardar()">
        </div>
</div>
